{% extends "base.html" %}
{% block content %}
<h1 class="title">Hi, I am BugsWriter</h1>


<p>I am Suraj Kushwah, aka bugswriter. I am 22 old guy from India, who love Computers and Softwares.
I am also a Computer Science Student and a <a href="https://www.youtube.com/channel/UCngn7SVujlvskHRvRKc1cTw">Linux Youtuber</a>.
<i>But most importantly I am a man of culture as well</i>.</p>

<img src="/avatar.jpg" alt="avatar image">

<h2>Website Guide</h2>
<ul>
  <li><a href="https://bugswriter.com/atom.xml">Atom Feed</a> for my blogs.</li>
  <li>In case if you find this website ugly - <a href="http://motherfuckingwebsite.com">It's minimal</a>.</li>
  <li>This website was started on 13-Sep-2021.</li>
</ul>

{% endblock content %}
