{% extends "base.html" %}
{% block content %}
<center>
  <h1 class="title">Hi, I am BugsWriter</h1>
</center>  
<p>I am Suraj Kushwah, aka bugswriter. I am a 22 old guy from India, who loves Computers and Software.
I am also a Computer Science Graduate and a <a href="https://www.youtube.com/channel/UCngn7SVujlvskHRvRKc1cTw">Linux Youtuber</a>.
<i>But most importantly I am a man of culture</i>.</p>

<img src="/avatar.jpg" alt="avatar image">


<h2>Website Guide</h2>
<p>
  <ul>
    <li><a href="https://bugswriter.com/atom.xml">Atom Feed</a> for my blogs.</li>
    <li>If you find this website ugly - <a href="http://motherfuckingwebsite.com">It's minimal</a>.</li>
    <li>This website was started on 13-Sep-2021.</li>
  </ul>
</p>
<br>

<div>
  <h2>What's the deal here?</h2>
  <p>
    This place is a home for all my psychological dysfunctioning.<br>
    A place where I am in control, with no censorship or manupilation.<br>
    A place where my words don't get mixed up with noise.<br>
  </p>
</div>
<br>
{% endblock content %}
